.footer {
    background: $mainBlue;
    color: white;
    padding: 1.4rem 0;
    text-align: center;

    &__content {
        font-weight: 100;
        margin: 0;
    }
    &__btn {
        font-weight: 500;
        padding: 12px 30px;
        margin-top: 1rem;
    }

    @mixin atSmall {
        &__btn {
            margin-left: 3rem;
            margin-top: 0;
        }
    }
}
