/*
    TOGGLE MOBILE MENU
*/

.toggle-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    background: rgba($mainBlue, 0.9);
    flex-direction: column;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1rem;

    .site-header__nav {
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    li {
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .site-header__btn {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .site-header__btn .btn {
        background: $mainOrange;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

/*
    REVEAL ELEMENTS ON SCROLL
*/
.reveal-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;

    &--is-visible {
        opacity: 1;
        transform: translateY(0);
    }
}
